[Unit]
Description=Launch a game instance

[Service]
ExecStart=/home/ubuntu/MM/Game.x86_64 -batchmode -nographics
ExecStartPost=/home/ubuntu/shellscripts/openport.sh 7777
ExecStop=/home/ubuntu/shellscripts/closeport.sh 7777
ExecStop=kill $MAINPID
User=ubuntu

[Install]
WantedBy=multi-user.target
