[Unit]
Description=Launch Match Making

[Service]
ExecStart=/bin/bash -c '~/MM/Game.x86_64 -batchmode -nographics'
ExecStartPost=/bin/bash -c '~/shellscripts/openport.sh 7777'
ExecStop=/bin/bash -c '~/shellscripts/closeport.sh 7777'
ExecStop=kill $MAINPID
User=[USERNAME]

[Install]
WantedBy=multi-user.target
